body {
  background-color: #03001e;
}
.container {
  background: rgba(72, 53, 90, 0.39);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 50px;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  letter-spacing: 0.2cm;
  text-align: center;
  margin: 10px auto;
}
.animated-gradient {
  background-image: linear-gradient(135deg, #feb692, #ff8264, #ff6564, #e8514c);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedGradient 20s ease infinite;
}
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  color: #fff;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
main {
  margin-bottom: 20px;
}
form {
  display: flex;
  padding: 20px 10px;
  border-radius: 10px;
}
.topic {
  color: #757575;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  border: 1px solid #352d4a;
  border-radius: 10px;
  padding: 12px;
  width: 80%;
}
.submit-button {
  color: #03001e;
  font-size: 16px;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  padding: 14px 24px;
  margin-left: 12px;
  background-image: linear-gradient(135deg, #feb692, #ff8264, #ff6564, #e8514c);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  transform: translateY(3px);
  filter: contrast(80%);
}
.submit-button:active {
  opacity: 0.5;
}
.hint {
  color: #615386;
  font-size: 11px;
  font-family: monospace;
  margin-bottom: 20px;
}
.fact {
  color: #ffff;
  background-color: #03001e;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  line-height: 2;
  border-left: 3px solid #ff8264;
  padding: 20px;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
footer {
  color: #615386;
  font-size: 12px;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  line-height: 1.5;
  padding-top: 20px;
  border-top: 0.5px solid #03001e;
}
a {
  color: #ff8264;
  transition: all 0.3s ease-in-out;
}
a:hover {
  cursor: pointer;
  color: #ff6564;
}
