body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
h1 {
  color: #0d3280;
  font-family: "Rubik Mono One", monospace;
  font-size: 60px;
  text-align: center;
}
img {
  display: inline;
  width: 100px;
}
.submit {
  background-color: #fbd158;
  font-family: monospace;
}
.hint {
  color: #757575;
  font-family: monospace;
}
.text {
  color: #000;
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}
footer {
  color: #0d3280;
  font-family: monospace;
  text-align: center;
}
a {
  color: #7b73f4;
}
a:hover {
  cursor: pointer;
  color: #bfa2ee;
}
