h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 60px;
  text-align: center;
}
.animated-gradient {
  background-image: -webkit-linear-gradient(125deg, #f2291b, #f7db25, #84f527);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
input {
  font-family: monospace;
}
.hint {
  color: #757575;
  font-family: monospace;
}
.text {
  color: #05094f;
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
}
footer {
  font-family: monospace;
  text-align: center;
}
a {
  color: blue;
}
a:hover {
  cursor: pointer;
  font-style: italic;
}
