h1 {
  color: #45d0d0;
  font-family: "Rubik Mono One", monospace;
  font-size: 60px;
  text-align: center;
}
input {
  font-family: monospace;
}
.hint {
  color: #757575;
  font-family: monospace;
}
.text {
  color: #000;
  font-size: 20px;
  font-family: "DotGothic16", sans-serif;
}
footer {
  font-family: monospace;
  text-align: center;
}
a {
  color: #45d0d0;
}
a:hover {
  cursor: pointer;
  font-style: italic;
}
